.nav {
  margin-right: auto;

  &__list {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 32px;
  }

  &__link {
    text-decoration: none;
    transition: all 0.3s ease;
    color: $dim-grey;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;

    &:hover {
      color: $yellow;
    }
  }

  @media only screen and (max-width: 670px) {
    &__list {
      gap: 20px;
    }
  }

  @media only screen and (max-width: 535px) {
    &__list {
      display: none;
    }
  }
}
